[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-dotenv = "*"
awswrangler = "*"
scipy = "*"
statsmodels = "*"
jupyter-bokeh = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
ipykernel = "*"
mypy = "*"
bandit = "*"
flake8 = "*"
notebook = "*"

[requires]
python_version = "3.10"
